footer {
  background: #20222a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer_inner {
    display: flex;
    align-items: flex-start;
    color: #fff;

    .corp_info {
      margin-right: 140px;

      .corp_title {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 30px;
      }

      .corp_address,
      .corp_copyright {
        font-size: 12px;
        line-height: 18px;
        width: 245px;
        margin-bottom: 30px;
        color: #aaa;
      }

      .corp_logo {
        margin-top: 25px;
        width: 90px;
      }
    }

    .contact_info {
      .contact_title {
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        margin-bottom: 55px;
        width: 850px;
      }

      .contact_links {
        margin-bottom: 85px;
        display: flex;

        .contact_link {
          margin-right: 48px;
          display: flex;
          align-items: center;
          height: 100%;

          .icon {
            width: 40px;
            height: 40px;
            border: 1px solid #3589fc;
            border-radius: 50%;
            margin-right: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              fill: #3589fc;
            }

            &:hover {
              background: #3589fc;

              svg {
                fill: #fff;
              }
            }
          }

          .contact_tel,
          .contact_mail {
            box-sizing: border-box;
            -webkit-text-fill-color: transparent;
            background: linear-gradient(225deg, #3589fc, #00aee7);
            -webkit-background-clip: text;
            display: inline-block;
          }
        }
      }

      .contact_menu {
        display: flex;
        justify-content: space-between;

        .menu_group {
          display: flex;
          color: #aaa;

          .menu_lists {
            margin-right: 125px;
          }

          .menu_list {
            font-size: 16px;
            margin-right: 15px;
            line-height: 24px;
            padding: 0 10px;
          }

          .menu_link {
            &:hover {
              color: #fff;
            }
          }
        }

        .sns_policy {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .sns_group {
            display: flex;

            .sns_img {
              width: 24px;
              height: 24px;
              margin-right: 10px;
              opacity: 0.5;

              &:hover {
                opacity: 1;
              }
            }
          }

          .policy_group {
            display: flex;
            font-size: 12px;
            line-height: 18px;

            .policy_list {
              margin-right: 15px;
              color: #aaa;
              position: relative;

              .policy_link {
                &:hover {
                  color: white;
                }
              }

              &::after {
                position: absolute;
                top: 1px;
                right: -7.5px;
                content: "";
                width: 1px;
                height: 15px;
                background-color: #e4e8eb;
              }

              &:last-child {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }

      .license {
        font-size: 12px;
        color: #aaa;
        width: 475px;

        span {
          display: block;
          margin-top: 15px;
          line-height: 18px;
        }
      }
    }
  }
}
